
*{
  margin:0;
  padding:0;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  // 1rem = 10px
  font-size: 62.5%;
}

body{
  font-family:helvetica, sans-serif;
  font-weight:400;
  line-height: 1.6;
  min-height:100vh;
}



.page-margin-top{
  margin-top:2em;
}

.page-width{
  width:80vw;
  margin-left:10vw;
  margin-right:10vw;
}
