:root{
  //i will find some material design colors
  // this is the link
  //https://material.io/tools/color/#!/
  --color-primary:#1976d2;
  --color-primary-light:#63a4ff;
  --color-primary-dark:#004ba0;
  --color-primary-text:white;
}


// 30px
$title:3rem;
//25px
$subtitle:2.5rem;
//20px
$text:2rem;
//12px
$default-text:1.2rem;
