:root{
  //i will find some material design colors
  // this is the link
  //https://material.io/tools/color/#!/
  --color-primary:#1976d2;
  --color-primary-light:#63a4ff;
  --color-primary-dark:#004ba0;
  --color-primary-text:white;
}
