@import '../../../css/main';


/// i guess I messed up scss watch npm script
//for the time being
// I just wanna show you that you can use CSS3 built in variable feature
//you can import scss file in scss just like how you import js file in .js

.Header{
  @include flex-row-center-center(false,true);
  justify-content: space-between;
  padding:0 2rem;
  background-color:var(--color-primary);
  @include box-shadow(3);
  margin-bottom:2rem;
  &__logo-wrapper{
    flex:0 0 20%;
  }
  &__logo{
    width:5rem;
    height:5rem;
    object-fit: contain;
  }
  &__list{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    a{
      font-size:$default-text;
      text-decoration:none;
      color:var(--color-primary-text);
      padding:0 1rem;
    }
  }
}
