:root {
  --color-primary:#1976d2;
  --color-primary-light:#63a4ff;
  --color-primary-dark:#004ba0;
  --color-primary-text:white; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.page-margin-top {
  margin-top: 2em; }

.page-width {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw; }

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--color-primary);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 2rem; }
  .Header__logo-wrapper {
    flex: 0 0 20%; }
  .Header__logo {
    width: 5rem;
    height: 5rem;
    object-fit: contain; }
  .Header__list {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .Header__list a {
      font-size: 1.2rem;
      text-decoration: none;
      color: var(--color-primary-text);
      padding: 0 1rem; }
